/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* GENERAL */

:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  background-color: black;
  color: white;
  box-sizing: border-box;
  line-height: 1.5rem;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2 {
  text-align: center;
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

img {
  /* Eliminates the extra size */
  display: block;
}

a {
  text-decoration: none;
}

input,
button {
  height: 3rem;
  border-radius: 1.5rem;
  padding: 1rem;
}

textarea {
  padding: 1rem;
}

button {
  display: inline-flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border-bottom: 0px;
  height: 3rem;
  width: max-content;
  font-weight: bold;
}

input {
  min-width: 5rem;
  max-width: 12rem;
}

/* NAVBAR */

nav {
  height: 4rem;
  padding: 1rem;
  display: flex;
  flex: 0 1 4rem;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  text-align: center;
}
